@font-face {
    font-family: 'E-Ukraine-Regular';
    src: url("fonts/e-Ukraine-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;

}

:root{
    --primary-text-white: #FFFAFA;
    --navigation-background: #282828;
    --hightlighted-text: cornflowerblue;
}

html, body {
    margin: 0;
    font-family: "E-Ukraine-Regular","Teachers", "Lato", sans-serif;
    min-height: 100%;
    font-size: 1rem;
}

h1, h2, h3, h4, p, div, section, li, ul, ol, a, select, option, span, br{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    font-family: inherit;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.header-wrapper{
    margin: 0.25rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-navigation{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-action{
    background-color: var(--navigation-background);
    color: var(--primary-text-white);
    padding: 0.5rem;
    text-align: center;
}
.header-selection{
    font-size: inherit;
    background-color: #151414;
    color: var(--primary-text-white);
    padding: 0.5rem;
    flex: 1;
    text-align: center;
    max-width: 300px;
}

.main-headline-block{
    display: flex;
    margin: 0.25rem auto;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.main-headline-description{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.text-blue{
    color: var(--hightlighted-text);
}

.headline-secondary{
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.headline-header{
    flex: 1;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: rgba(250,250,250,0.9);
    user-select: none;
    display: flex;
    flex-direction: column;
}
.headline-primary{
    font-size: 1rem;
    font-weight: 300;
}


.wrapper-main-content{
    background-color:rgba(184, 208, 255, 0.3);
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-header{
    display: flex;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    font-size: 1.25rem;
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
    margin: 0.5rem 0;
}

.text-orange{
    color: orange;
}
.text-size-double{
    font-size: 2rem;
}
.main-content-description{
    max-width: 72ch;
    margin: 8px;
    display: flex;
}

.main-content-references{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.main-content-video{
    width: 480px;
    height: 270px;
}

.main-content-companies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.content-company{
    max-width: 140px;
    max-height: 100px;
    display: block;
    margin: auto;
}

.wrapper-courses{
    background-color: var(--navigation-background);
    color: var(--primary-text-white);
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.courses-title{
    margin-top: 16px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.courses-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 16px;
    width: 100%;
    padding: 20px;
}

.text-blue{
    color: cornflowerblue;
}

.course-container{
    border: 2px gray solid;
    background-color: #181818;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    min-width: 360px;
    align-items: center;
}

.course-img{
    max-width: 72px;
    max-height: 54px;
    display: block;
    margin: auto;
}

.course-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.course-image-title{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.text-white-upper{
    margin-top: 8px;
    text-transform: uppercase;
    color: #fff3f3;
    font-weight: 900;
}

.course-details{
    margin-top: 16px;
    padding: 0 16px;
}

.course-places{
    margin-top: auto;
    margin-bottom: 16px;
}

.course-more-block{
    width: 100%;
    text-align: center;
    padding: 12px;
    background-color: var(--navigation-background);
    border-radius: 0 0 12px 12px;
    border-top: 2px gray solid;
}

.footer-wrapper{
    margin-top: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer-copyright{
    color: var(--primary-text-white);
    padding: 8px;
    flex: 1;
    background-color: black;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.icons{
    width: 32px;
    height: 32px;
}